.navbar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #333131;
  height: 85px;
  width: 100%;
  padding: 0;
  margin: 0px;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  list-style: none;
  white-space: nowrap;
  
}

.navbar li {
  flex: 0 0 auto;
  flex-shrink: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.navbar a {
  flex: auto;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 16.8px;
}

.navbar a:hover {
  background-color: #4699f7b4;
}
